<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647891783523-62mvkr8qrs5ge5iac6pqm9ugibjj6e0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647891783523-62mvkr8qrs5ge5iac6pqm9ugibjj6e0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhWk0lfGqjqLPdpSOD_7Fth8I76M8zsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>647891783523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Academic.iOS-1-Final-Exam</string>
	<key>PROJECT_ID</key>
	<string>ios-1-final-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-1-final-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647891783523:ios:c6cb112e5b1d3bf1f68d56</string>
</dict>
</plist>